$bg-color: blue;
$primary: yellow;
$secondary: green;

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";


$custom-theme-colors: (
    "khaki": #c3b091,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

$custom-spacer-map: (
    "large": 4rem,
);

$spacers: map-merge($spacers, $custom-spacer-map);


@import "../bootstrap/scss/bootstrap.scss";

