/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* COLOURS */
/* FONTS */
p {
  font-family: 'Raleway', sans-serif;
}

/* HEADER|FOOTER|TEXT-BOX */
html {
  scroll-padding-top: 11vh;
}

a {
  display: block;
  color: inherit;
}

body {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* [HEADER] */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 11vh;
  background-color: #2C876F;
}

header #header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
}

header #header-container p {
  font-size: 2rem;
}

header #header-container #logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 65%;
  aspect-ratio: 1/1;
  background-color: #B8E6D9;
  border-radius: 15px;
}

header #header-container #logo-box img {
  width: auto;
  height: 65%;
}

header #header-container #nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  height: 75%;
  border-radius: 10px;
  background-color: #2C8065;
  /* MOBILE */
}

header #header-container #nav-container .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .1% 3%;
  border-radius: 15px;
  background-color: #B8E6D9;
}

header #header-container #nav-container .nav-item p {
  font-family: 'Patrick Hand SC', cursive;
  position: relative;
  bottom: .5px;
}

header #header-container #nav-container .nav-item:first-child {
  padding: 0;
  width: auto;
  height: 65%;
  aspect-ratio: 1/1;
}

header #header-container #nav-container .nav-item:first-child img {
  width: auto;
  height: 60%;
}

header #header-container #nav-container .nav-item:nth-child(5) {
  margin-left: 2%;
  border-radius: 25px;
  background-color: #ffffff;
}

header #header-container #nav-container .nav-item:nth-child(5) p {
  font-size: 2.1rem;
}

header #header-container #nav-container .nav-item:last-child {
  display: none;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 0;
  width: auto;
  height: 65%;
  aspect-ratio: 1/1;
}

header #header-container #nav-container .nav-item:last-child img {
  width: auto;
  height: 60%;
}

/* [FOOTER] */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 25vh;
  background-color: #065C46;
}

footer .footer-text-box {
  background-color: #f3f5f2;
  border-radius: 15px;
  padding: 1.5% 2%;
  padding-right: 7%;
}

footer .footer-text-box p {
  font-size: 1.5rem;
}

footer .footer-text-box:first-child {
  position: relative;
  left: 5%;
}

section {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
}

.h1-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 4%;
}

.h1-box-container .h1-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  border-radius: 25px;
  padding: .5% 5%;
  background-color: #2C876F;
}

.h1-box-container .h1-box h1 {
  position: relative;
  bottom: 1px;
  font-size: 3rem;
  color: #ffffff;
  font-family: 'Patrick Hand SC', cursive;
}

.all-services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background-color: #f3f5f2;
  padding: 2% 3%;
  border-radius: 25px;
}

.all-services-box .service-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 26.5%;
  padding: 2%;
  border-radius: 15px;
  background-color: #B8E6D9;
}

.all-services-box .service-box .service-image-box {
  background-color: #c7d5c8;
  padding: 3% 0%;
  margin-bottom: 9%;
}

.all-services-box .service-box .service-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 6% 7%;
  border-radius: 15px;
  background-color: #74A0D2;
}

.all-services-box .service-box .service-info-box .service-title-box {
  margin-bottom: 8%;
}

.all-services-box .service-box .service-info-box .service-title-box h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  font-family: 'Patrick Hand SC', cursive;
}

.all-services-box .service-box .service-info-box .service-text-box {
  margin-bottom: 10%;
}

.all-services-box .service-box .service-info-box .service-text-box p {
  font-size: 1.2rem;
  color: #ffffff;
}

.all-services-box .service-box .service-info-box .buy-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.all-services-box .service-box .service-info-box .buy-box-container .buy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 5%;
  border-radius: 6px;
  width: 60%;
  background-color: #ffffff;
}

.all-services-box .service-box .service-info-box .buy-box-container .buy-box p {
  font-size: 2rem;
  font-family: 'Patrick Hand SC', cursive;
}

.all-services-box .service-box:first-child {
  margin-left: 4%;
}

.all-services-box .service-box:last-child {
  margin-right: 4%;
}

#courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 25px;
}

#photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 12%;
}

#photos .h1-box-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=style-services.css.map */