@media only screen and (min-width: 1280px){
    @include main(21%, 25%, center);
    
    #contact{
        margin-top: 9%;
        margin-bottom: 10%;
        h1{
            font-size: 3rem;
        }
        #all-input-boxes{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 3%;
            row-gap: 6%;
            margin-top: 6%;
            .input-box{
                margin: 0%;
            }
            .input-box:last-child{
                grid-column: 1 / 3;
            }
        }
    }
}