@media only screen and (min-width: 1024px){
    @include main(23%, 14%, center);

    #all-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        .info{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}