/*GLOBAL*/
h1, h2, h3, p {
  font-family: 'Lato', sans-serif;
  color: #000000;
}

body {
  background-color: #E5E5E5;
}

img {
  display: block;
}

/*HEADER-FOOTER*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10vh;
  background-color: #CBC1B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 10%;
}

header img:first-child {
  width: auto;
  height: 80%;
}

header img:last-child {
  width: auto;
  height: 40%;
}

header #nav {
  display: none;
}

footer {
  width: 100%;
  height: 14vh;
  background-color: #CBC1B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6% 15%;
}

footer > p {
  font-size: 0.75rem;
}

@media only screen and (min-width: 1280px) {
  header {
    height: 14vh;
  }
  header img:last-child {
    display: none;
  }
  header #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  header #nav > p {
    padding: 1% 3%;
    margin: 0% 1%;
  }
  footer {
    height: 10vh;
    padding: 4% 15%;
  }
}

/*HOMEPAGE*/
#main {
  width: 100%;
  min-height: 76vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0% 10%;
}

#main > * {
  margin-top: 13%;
}

#main > *:last-child {
  margin-bottom: 13%;
}

.button-prim {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5% 10%;
  background-color: #7C7474;
  -webkit-box-shadow: 0px 4px 6px #00000060;
          box-shadow: 0px 4px 6px #00000060;
}

.button-prim > p {
  color: #F8F7EC;
  font-size: 0.68rem;
}

.button-seco {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5% 10%;
  background-color: #f8f7ec4D;
  -webkit-box-shadow: 0px 4px 6px #00000060;
          box-shadow: 0px 4px 6px #00000060;
}

.button-seco > p {
  color: #000000;
  font-size: 0.68rem;
}

#home > img {
  display: none;
}

#welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 3% 3% 3%;
  background-color: #7C7474;
}

#welcome-text > h1 {
  font-size: 1.25rem;
  margin-bottom: 6%;
  color: #F8F7EC;
}

#welcome-text > p {
  font-size: 0.81rem;
  text-align: justify;
  color: #F8F7EC;
}

#welcome-text > .button-seco {
  margin-top: 7%;
}

#all-places-to-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#all-places-to-go > h2 {
  font-size: 0.68rem;
}

#all-places-to-go .place-to-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#all-places-to-go .place-to-go > img {
  -webkit-box-shadow: 0px 4px 6px #0000004b;
          box-shadow: 0px 4px 6px #0000004b;
}

#all-places-to-go .place-to-go .place-to-go-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 6%;
}

#all-places-to-go .place-to-go .place-to-go-text > h3 {
  font-size: 0.75rem;
}

#all-places-to-go .place-to-go .place-to-go-text > p {
  font-size: 0.62rem;
  text-align: justify;
}

#all-places-to-go .place-to-go, #all-places-to-go > .button-prim {
  margin-top: 9%;
}

@media only screen and (min-width: 1280px) {
  header {
    position: absolute;
  }
  header #nav > p:nth-child(1) {
    background-color: #7C7474;
  }
  #main {
    padding: 0px 0px;
  }
  #main #home {
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #main #home > img {
    display: block;
    width: 100%;
    height: auto;
  }
  #main #home #welcome-text {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 42%;
    height: auto;
    background-color: #7C74744b;
    padding: 0.5% 3% 3.5% 3%;
  }
  #main #home #welcome-text h1 {
    font-size: 3rem;
    margin-bottom: 5%;
  }
  #main #home #welcome-text p {
    font-size: 1.5rem;
  }
  #main #home #welcome-text .button-seco {
    background-color: #7C7474;
    -webkit-box-shadow: 0px 4px 6px #00000060;
            box-shadow: 0px 4px 6px #00000060;
  }
  #main #home #welcome-text .button-seco > p {
    color: #F8F7EC;
    font-size: 0.68rem;
  }
  #main #all-places-to-go {
    margin: 6% 0%;
  }
  #main #all-places-to-go h2 {
    font-size: 2.25rem;
  }
  #main #all-places-to-go h3 {
    font-size: 1.5rem;
    margin: 7% 0%;
  }
  #main #all-places-to-go p {
    font-size: 1.125rem;
  }
  #main #all-places-to-go .button-prim {
    margin-top: 12%;
  }
  #main #all-places-to-go #places-to-go-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  #main #all-places-to-go #places-to-go-container .place-to-go {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24vw;
  }
  #main #all-places-to-go #places-to-go-container .place-to-go img {
    width: 100%;
  }
  #main #all-places-to-go #places-to-go-container .place-to-go .place-to-go-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #main #all-places-to-go #places-to-go-container .place-to-go:nth-child(2) {
    margin-right: 4%;
    margin-left: 4%;
  }
}
/*# sourceMappingURL=style.css.map */