/*GLOBAL*/
h1, h2, h3, p {
  font-family: 'Lato', sans-serif;
  color: #000000;
}

body {
  background-color: #E5E5E5;
}

img {
  display: block;
}

/*HEADER-FOOTER*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10vh;
  background-color: #CBC1B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 10%;
}

header img:first-child {
  width: auto;
  height: 80%;
}

header img:last-child {
  width: auto;
  height: 40%;
}

footer {
  width: 100%;
  height: 14vh;
  background-color: #CBC1B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6% 15%;
}

footer > p {
  font-size: 0.75rem;
}

/*CONTACT*/
#main {
  width: 100%;
  min-height: 76vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0% 10%;
}

#main > * {
  margin-top: 21%;
}

#main > *:last-child {
  margin-bottom: 21%;
}

.button-prim {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5% 10%;
  background-color: #7C7474;
  -webkit-box-shadow: 0px 4px 6px #00000060;
          box-shadow: 0px 4px 6px #00000060;
}

.button-prim > p {
  color: #F8F7EC;
  font-size: 0.68rem;
}

.button-seco {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5% 10%;
  background-color: #f8f7ec4D;
  -webkit-box-shadow: 0px 4px 6px #00000060;
          box-shadow: 0px 4px 6px #00000060;
}

.button-seco > p {
  color: #000000;
  font-size: 0.68rem;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#contact > p {
  font-size: 1.25rem;
}

#contact #all-input-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 10% 0%;
}

#contact #all-input-boxes .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7C7474;
  width: 100%;
  margin-top: 5%;
}

#contact #all-input-boxes .input-box > p {
  width: 100%;
  padding: 2%;
  font-size: 0.68rem;
}

#contact #all-input-boxes .input-box:first-child {
  margin-top: 0%;
}

#contact #all-input-boxes .input-box:last-child {
  padding-bottom: 25%;
}
/*# sourceMappingURL=style-contact.css.map */